.col-sm-12
  %div(class="panel panel-default")
    %div(class="panel-heading")
      %strong
        = comment.user.name unless comment.user.nil?
      %span(class="text-muted")
        commented
        = time_ago_in_words(comment.created_at) + ' ago' unless comment.created_at.nil?
      %div(class="btn-group pull-right")
        - if user_signed_in? && current_user == comment.user
          = link_to 'Remove', [comment.movie, comment], method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-default'
    %div(class="panel-body")
      = comment.message  
%br